---
layout: constants/layout.html
title: Charcter Profiles
script1: /_includes/js/character-profiles-header.js
style1: /_includes/css/character-profiles-header.css
---
<div class="character-profiles-container">
  <ul class="character-profiles">
    <li>
      <a href="/character-profiles/">
        <img src="/_includes/assets/images/books/book1_front.jpg" alt="Image 1">
      </a>
    </li>
    <li>
      <a href="/character-profiles/book-2">
        <img src="/_includes/assets/images/books/book2_front.png" alt="Image 2">
      </a>
    </li>
    <li>
      <a href="/character-profiles/book-3">
        <img src="/_includes/assets/images/books/book3_front.jpg" alt="Image 3">
      </a>
    </li>
    <li>
      <a href=".">
        <img src="/_includes/assets/images/books/book_placeholder.jpg" alt="Image 4">
      </a>
    </li>
    <li>
      <a href=".">
        <img src="/_includes/assets/images/books/book_placeholder.jpg" alt="Image 5">
      </a>
    </li>
    <li>
      <a href=".">
        <img src="/_includes/assets/images/books/book_placeholder.jpg" alt="Image 6">
      </a>
    </li>
  </ul>
</div>
{{ content | safe }}